<%= form_with(model: @transferable_course, local: false, html: { id: "new-transferable-course-form" }) do |form| %>
  <% if @transferable_course.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @transferable_course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :to_course_id, value: @course.id %>

  <div class="form-group">
    <%= form.label :from_course_id, "Transferable Course" %>
    <%= form.collection_select :from_course_id, @other_courses, :id, :name_with_school, { prompt: "Select a course" }, { class: "form-control" } %>
  </div>

  <%= form.submit "Add Transferable Course", class: "btn btn-primary" %>
<% end %>
