<%= form_with(model: @transferable_course, local: false, html: { id: "new-transferable-course-form" }) do |form| %>
  <% if @transferable_course.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @transferable_course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :from_course_id, value: @course.id %>

  <div class="form-group">
    <%= form.label :to_school_id, "Transfer School" %>
    <%= select_tag :to_school_id, options_from_collection_for_select(@schools, :id, :name), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :to_course_id, "Transfer Course" %>
    <%= form.collection_select :to_course_id, Course.all, :id, :name, { prompt: "Select a course" }, { class: "form-control" } %>
  </div>

  <%= form.submit "Add Transferable Course", class: "btn btn-primary" %>
<% end %>
