<div class="container mt-5">
  <div class="card shadow custom-card">
    <div class="card-body">
      <p class="text-success fs-4"><%= notice %></p>

      <h2 class="mb-4">Course Transfer Details</h2>

      <div class="mb-4">
        <h4>From:</h4>
        <p class="fs-5">
          <%= link_to @transferable_course.from_course_details,
          course_path(@transferable_course.from_course) %>
        </p>

        <h4>To:</h4>
        <p class="fs-5">
          <%= link_to @transferable_course.to_course_details,
          course_path(@transferable_course.to_course) %>
        </p>
      </div>

      <div class="mt-4">
        <%= button_to "Delete Transfer Relationship",
        transferable_course_path(@transferable_course),
        method: :delete,
        class: "btn custom-btn fs-4 me-2",
        data: {
          confirm: "Are you sure you want to delete this transfer relationship?",
        } %>
        <%= link_to "Back to Course",
        course_path(params[:source_course_id] || @transferable_course.to_course),
        class: "btn custom-btn fs-4" %>
      </div>
    </div>
  </div>
</div>
