<%= form_with(model: [@school, @degree], local: true, html: { id: "new-degree-form" }) do |form| %>
  <% if @degree.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
        <% @degree.errors.full_messages.each do |message| %>
          <li>
            <div class="alert alert-danger" role="alert">
              <%= message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Degree Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Add Degree", class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
