<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow custom-card">
        <div class="card-body">
          <p class="text-success fs-4"><%= notice %></p>
          <div>
            <%= render @degree %>
          </div>
          <div class="d-flex justify-content-between mt-4">
            <%= link_to "Edit this degree", edit_degree_path(@degree), class: "btn custom-btn fs-4" %>
            <%= button_to "Destroy this degree", @degree, method: :delete, class: "btn custom-btn fs-4" %>
            <%= link_to "Back to degrees", degrees_path, class: "btn custom-btn fs-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mb-4">Degree Requirements</h2>
    <ul id="degree-requirements-list" class="list-group">
      <%= render partial: "degree_requirements/degree_requirement_list_item",
                 collection: @degree.degree_requirements,
                 as: :degree_requirement %>
    </ul>

    <h2 class="mt-5">Add a Requirement</h2>
    <div class="card shadow custom-card mt-3">
      <div class="card-body">
        <%= render "degree_requirements/form", degree: @degree %>
      </div>
    </div>

    <h2 class="mt-5">Find Cheapest Plan</h2>
    <div class="card shadow custom-card mt-3">
      <div class="card-body">
        <%= form_with url: generate_cheapest_plan_degree_path(@degree), local: true, method: :post, scope: :plan do |form| %>
          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>

          <div class="form-group">
            <%= form.label :starting_school_id, "Select Starting School" %>
            <%= form.select :starting_school_id,
                            options_from_collection_for_select(
                              School.where(school_type: "community_college"),
                              :id,
                              :name
                            ),
                            { prompt: "Select Starting School" },
                            class: "form-select",
                            required: true %>
          </div>

          <div class="actions mt-3">
            <%= form.submit "Generate Cheapest Plan", class: "btn custom-btn btn-block fs-4" %>
          </div>
        <% end %>
      </div>
    </div>

    <h2 class="mt-5">Generated Plan</h2>
    <div class="card shadow custom-card mt-3">
      <div class="card-body">
        <% if @plans.any? %>
          <%= render @plans %>
        <% else %>
          <p class="text-muted">No plans generated yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
