<div class="container text-center pt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow custom-card mx-auto">
        <div class="card-body">
          <h2 class="card-title mb-4 fs-2">Log in</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-4 row justify-content-center">
              <div class="col-md-6">
                <%= f.label :email, class: 'form-label fs-3 mb-2' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control fs-4' %>
              </div>
            </div>

            <div class="mb-4 row justify-content-center">
              <div class="col-md-6">
                <%= f.label :password, class: 'form-label fs-3 mb-2' %>
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control fs-4' %>
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="mb-4 row justify-content-center">
                <div class="col-md-6 text-start fs-4">
                  <div class="form-check">
                    <%= f.check_box :remember_me, class: 'form-check-input' %>
                    <%= f.label :remember_me, class: 'form-check-label' %>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="row justify-content-center">
              <div class="col-md-6 text-center">
                <%= f.submit "Log in", class: 'btn custom-btn-2 fs-4' %>
              </div>
            </div>
          <% end %>

          <div class="mt-4 fs-4">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
