<%= form_with(model: @school, local: true, html: { id: "new-school-form" }) do |form| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
        <% @school.errors.full_messages.each do |message| %>
          <li>
            <div class="alert alert-danger" role="alert">
              <%= message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "School Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :school_type, "School Type" %>
    <%= form.select :school_type, [["University", "university"], ["Community College", "community_college"]], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :credit_hour_price, "Credit Hour Price" %>
    <%= form.number_field :credit_hour_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :full_time_tuition, "Full-Time Tuition (12+ credits)" %>
    <%= form.number_field :full_time_tuition, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :part_time_tuition, "Part-Time Tuition (6-11 credits)" %>
    <%= form.number_field :part_time_tuition, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :single_course_tuition, "Single Course Tuition (1 course)" %>
    <%= form.number_field :single_course_tuition, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :minimum_credits_from_school, "Minimum Credits from School" %>
    <%= form.number_field :minimum_credits_from_school, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :max_credits_from_community_college, "Max Credits from Community College" %>
    <%= form.number_field :max_credits_from_community_college, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :max_credits_from_university, "Max Credits from Other Universities" %>
    <%= form.number_field :max_credits_from_university, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Add School", class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
