<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>School type:</strong>
    <%= school.school_type %>
  </p>

  <% if school.credit_hour_price.present? %>
    <p>
      <strong>Credit hour price:</strong>
      <%= number_to_currency(school.credit_hour_price) %>
    </p>
  <% end %>

  <% if school.terms.any? %>
    <h4>Tuition Costs by Term:</h4>
    <ul>
      <% school.terms.each do |term| %>
        <li>
          <strong><%= term.name %>
            (Credits:
            <%= term.credit_hour_minimum %>
            -
            <%= term.credit_hour_maximum %>):</strong>
          <%= number_to_currency(term.tuition_cost) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <strong>Minimum credits from school:</strong>
    <%= school.minimum_credits_from_school %>
  </p>

  <p>
    <strong>Max credits from community college:</strong>
    <%= school.max_credits_from_community_college %>
  </p>

  <p>
    <strong>Max credits from university:</strong>
    <%= school.max_credits_from_university %>
  </p>
</div>
