<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>School type:</strong>
    <%= school.school_type %>
  </p>

  <p>
    <strong>Credit hour price:</strong>
    <%= number_to_currency(school.credit_hour_price) %>
  </p>

  <p>
    <strong>Full-time tuition (12+ credits):</strong>
    <%= number_to_currency(school.full_time_tuition) %>
  </p>

  <p>
    <strong>Part-time tuition (6-11 credits):</strong>
    <%= number_to_currency(school.part_time_tuition) %>
  </p>

  <p>
    <strong>Single course tuition:</strong>
    <%= number_to_currency(school.single_course_tuition) %>
  </p>

  <p>
    <strong>Minimum credits from school:</strong>
    <%= school.minimum_credits_from_school %>
  </p>

  <p>
    <strong>Max credits from community college:</strong>
    <%= school.max_credits_from_community_college %>
  </p>

  <p>
    <strong>Max credits from university:</strong>
    <%= school.max_credits_from_university %>
  </p>
</div>
