<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>School type:</strong>
    <%= school.school_type %>
  </p>

  <p>
    <strong>Credit hour price:</strong>
    <%= school.credit_hour_price %>
  </p>

  <p>
    <strong>Minimum credits from school:</strong>
    <%= school.minimum_credits_from_school %>
  </p>

  <p>
    <strong>Max credits from community college:</strong>
    <%= school.max_credits_from_community_college %>
  </p>

  <p>
    <strong>Max credits from university:</strong>
    <%= school.max_credits_from_university %>
  </p>

</div>
