<% if section == 'degrees' %>
  <h2 class="fs-2 text-center mb-4">Degrees Offered</h2>
  
  <div class="mb-5">
    <h3 class="fs-3">Add a Degree</h3>
    <%= render 'degrees/form', degree: @degree %>
  </div>

  <%= render 'schools/search_form', type: 'degrees' %>
  <ul id="degrees-list" class="list-unstyled">
    <% degrees.each do |degree| %>
      <li class="mb-2">
        <%= link_to "#{degree.name}", degree_path(degree), class: "fs-4", data: { turbo_frame: "_top" } %>
      </li>
    <% end %>
  </ul>

<% elsif section == 'terms' %>
  <h2 class="fs-2 text-center mb-4">Terms</h2>
  
  <div class="mb-5">
    <h3 class="fs-3">Add a Term</h3>
    <%= render 'terms/form', term: @term, school: @school %>
  </div>

  <ul id="terms-list" class="list-unstyled">
    <% terms.each do |term| %>
      <li class="mb-2">
        <%= link_to "#{term.name}", term_path(term), class: "fs-4", data: { turbo_frame: "_top" } %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h2 class="fs-2 text-center mb-4">Courses Offered</h2>
  
  <div class="mb-5">
    <h3 class="fs-3">Add a Course</h3>
    <%= render 'courses/form', course: @course, school: @school %>
  </div>

  <%= render 'search_form' %>
  <%= turbo_frame_tag "courses-list" do %>
    <ul id="courses-list" class="list-unstyled">
      <% courses.each do |course| %>
        <li class="mb-2">
          <%= link_to "#{course.code} - #{course.course_number} - #{course.name} (#{course.credit_hours} credits)",
                      course_path(course),
                      class: "fs-4",
                      data: { turbo_frame: "_top" } %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
