<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow custom-card">
        <div class="card-body">
          <div>
            <%= render @school %>
          </div>
          <div class="d-flex justify-content-between mt-4">
            <%= link_to "Edit this school",
            edit_school_path(@school),
            class: "btn custom-btn fs-4" %>
            <%= button_to "Destroy this school",
            @school,
            method: :delete,
            class: "btn custom-btn fs-4" %>
            <%= link_to "Back to schools", schools_path, class: "btn custom-btn fs-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-12">
        <%= turbo_frame_tag "navigation" do %>
          <ul class="nav nav-underline justify-content-center mb-4">
            <li class="nav-item">
              <%= link_to "Courses",
              school_path(@school, section: "courses"),
              class:
                "nav-link fs-4 #{params[:section] == "courses" || params[:section].nil? ? "active fw-bold" : ""}",
              data: {
                turbo_stream: true,
              } %>
            </li>
            <li class="nav-item">
              <%= link_to "Degrees",
              school_path(@school, section: "degrees"),
              class: "nav-link fs-4 #{params[:section] == "degrees" ? "active fw-bold" : ""}",
              data: {
                turbo_stream: true,
              } %>
            </li>
            <li class="nav-item">
              <%= link_to "Terms",
              school_path(@school, section: "terms"),
              class: "nav-link fs-4 #{params[:section] == "terms" ? "active fw-bold" : ""}",
              data: {
                turbo_stream: true,
              } %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag "section_content" do %>
      <div id="section-wrapper">
        <%= render partial: "schools/section",
        locals: {
          section: params[:section],
          courses: @courses,
          degrees: @degrees,
          terms: @terms,
          school: @school,
        } %>
      </div>
    <% end %>
  </div>
</div>
