<p style="color: green"><%= notice %></p>

<%= render @school %>

<div>
  <%= link_to "Edit this school", edit_school_path(@school) %> |
  <%= link_to "Back to schools", schools_path %>

  <%= button_to "Destroy this school", @school, method: :delete %>
</div>

<ul class="nav nav-underline">
  <li class="nav-item">
    <a class="nav-link <%= params[:section] == 'courses' || params[:section].nil? ? 'active' : '' %>" href="?section=courses">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= params[:section] == 'degrees' ? 'active' : '' %>" href="?section=degrees">Degrees</a>
  </li>
</ul>

<div class="mt-4">
  <% if params[:section] == 'degrees' %>
    <h2>Degrees Offered</h2>
    <ul>
      <% @degrees.each do |degree| %>
        <li>
          <%= link_to degree.name, degree_path(degree) %>
        </li>
      <% end %>
    </ul>

    <h3>Add a Degree</h3>
    <%= render 'degrees/form', degree: @degree %>
  <% else %>
    <h2>Courses Offered</h2>
    <ul>
      <% @courses.each do |course| %>
        <li>
          <%= link_to "#{course.name} - #{course.code} (#{course.credit_hours} credits)", course_path(course) %>
        </li>
      <% end %>
    </ul>

    <h3>Add a Course</h3>
    <%= render 'courses/form', course: @course, school: @school %>
  <% end %>
</div>

</div>
