<div id="course_<%= course.id %>">
  
  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= course.course_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Credit hours:</strong>
    <%= course.credit_hours %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.course_category %>
  </p>

  <p>
    <strong>School:</strong>
    <%= course.school.name %>
  </p>

  <% if course.degree_requirements.any? %>
    <p>
      <strong>Degree Requirements:</strong>
      <ul>
        <% course.degree_requirements.each do |req| %>
          <li>
            <%= link_to req.name, degree_requirement_path(req) %> - Part of <%= req.degree.name %>
          </li>
        <% end %>
      </ul>
    </p>
  <% else %>
    <p><strong>Degree Requirements:</strong> Not yet assigned</p>
  <% end %>
</div>
