<div id="<%= dom_id course %>">
  <p>
    <strong>Credit hours:</strong>
    <%= course.credit_hours %>
  </p>

  <p>
    <strong>School:</strong>
    <%= course.school_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Degree requirement:</strong>
    <%= course.degree_requirement_id %>
  </p>

</div>
