<%= form_with(model: [@degree_requirement, CourseRequirement.new], local: false, html: { id: "new-course-requirement-form" }) do |form| %>
  <% if @course_requirement&.errors&.any? %>
    <div id="error_explanation">
      <ul>
        <% @course_requirement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :course_id, "Course" %>
    <%= form.collection_select :course_id, Course.all, :id, :name, { prompt: "Select a course" }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :is_mandatory, "Mandatory?" %>
    <%= form.check_box :is_mandatory %>
  </div>

  <div>
    <%= form.submit "Add Course Requirement", class: "btn btn-primary" %>
  </div>
<% end %>
