<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow custom-card">
        <div class="card-body">
          <p class="text-success fs-4"><%= notice %></p>
          <div>
            <div id="<%= dom_id @course_requirement %>">
              <p>
                <strong>Course:</strong>
                <%= @course_requirement.course.name %>
              </p>

              <p>
                <strong>Degree Requirement:</strong>
                <%= @course_requirement.degree_requirement.name %>
              </p>

              <p>
                <strong>Type:</strong>
                <%= @course_requirement.is_mandatory ? "Mandatory" : "Optional" %>
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-4">
            <%= link_to "Edit",
            edit_course_requirement_path(@course_requirement),
            class: "btn custom-btn fs-4" %>
            <%= button_to "Delete",
            course_requirement_path(@course_requirement),
            method: :delete,
            class: "btn custom-btn fs-4",
            data: {
              turbo: false,
            } %>
            <%= link_to "Back",
            degree_requirement_path(@course_requirement.degree_requirement),
            class: "btn custom-btn fs-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
