<p style="color: green"><%= notice %></p>

<%= render @course_requirement %>

<div>
  <%= link_to "Edit this course requirement", edit_course_requirement_path(@course_requirement) %> |
  <%= link_to "Back to course requirements", course_requirements_path %>

  <%= button_to "Destroy this course requirement", @course_requirement, method: :delete %>
</div>
